<template name="_topic">
  <div class="media">
    {{#if alreadyVoted}}
      <button type="button" class="btn btn-primary btn-lg pull-left btn-vote" data-unvote disabled="{{isPresented}}">
        <i class="ion-checkmark"></i>
      </button>
    {{else}}
      <button type="button" class="btn btn-default btn-lg pull-left btn-vote" data-vote disabled="{{isPresented}}">
        <i class="ion-arrow-up-c"></i>
      </button>
    {{/if}}
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ pathFor 'topicDetail' }}">{{ title }}</a></h4>
      <p>{{ description }}</p>
      <ul class="list-inline">
        {{#with author}}
          <li>{{> _profilePhoto profile=profile size="30"}} {{_ "by"}} {{profile.name}}</li>
        {{/with}}
        <li>{{ points }} {{_ "points"}}</li>
        {{#if hasComments}}
          <li><a href="{{ pathFor 'topicDetail' }}">{{numberOfComments}} {{_ "comments"}}</a></li>
        {{/if}}
        {{#if presented}}
          {{#with meetup}}
            <li><a href="{{ pathFor 'meetupDetail' }}"><i class="ion-checkmark"></i> {{_ "presented"}}</a></li>
          {{/with}}
        {{/if}}
        {{#if isInRole 'admin'}}
          <li><button type="button" class="btn btn-default btn-xs" data-remove>{{_ "remove"}}</button></li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>
