<template name="topics">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="page-header">
          {{#if currentUser}}
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-topic-modal">
              <i class="ion-plus"></i> Suggest a Topic
            </button>
          {{/if}}
          <h1>Topics</h1>
        </div>

        {{#if topics.count}}
          <div class="well">
            Suggest a topic for an upcoming meetup and vote on your favorites
          </div>
          {{#each topics}}
            {{> _topic}}
          {{/each}}
        {{else}}
          <div class="well">
            There aren't any topics yet.
            {{#if currentUser}}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-topic-modal">Suggest one?</button>
            {{/if}}
          </div>
        {{/if}}

      </div>

    </div>
  </div>

  <div class="modal fade" id="new-topic-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Suggest a Topic</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Enter a title for your topic">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea rows="2" class="form-control" id="description" placeholder="Enter a description for your topic"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>
