<template name="home">

  <div class="jumbotron jumbotron-home">
    <div class="container">
      <img src="/meteor.svg" width=425 height=100 class="home-logo img-responsive" alt="{{group.name}}" />
      <h1>{{group.city}}</h1>
      <p>
        {{group.info}}
      </p>
      {{#unless currentUser}}
        <p>
          <a href="{{ pathFor 'members'}}" class="btn btn-primary btn-lg" data-login-with="meetup"><img src="/meetup.png" width=26 height=26> {{_ "join_us"}}</a>
        </p>
      {{/unless}}
    </div>
  </div>

  {{> _featuredMeetup}}

  {{#if upcomingMeetup.count}}
    {{#each upcomingMeetup}}
      <div class="homepage-section homepage-section-meetups">
        <div class="container">
          <h3>{{_ "next_meetup"}}</h3>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  {{ calendarDay dateTime}}
                </div>
                <div class="panel-body">
                  <h1>{{ calendarDate dateTime}}</h1>
                </div>
                <div class="panel-footer">
                  {{ calendarMonth dateTime}}
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <h2><a href="{{ pathFor 'meetupDetail' }}">{{ title }}</a></h2>

              <h5 class="text-muted">
                <i class="ion-calendar"></i> {{ longDate dateTime}}
              </h5>
              <p>
                {{ truncate description 140 }}
              </p>
              <p>
                <a href="{{ pathFor 'meetupDetail' }}" class="btn btn-primary btn-lg">{{_ "view_details"}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  <div class="homepage-section homepage-section-members">
    <div class="container">
      <h3>{{_ "who_are_we"}}</h3>
      <hr>
      <p>
      {{> _topMembers}}
      </p>
      <hr>
      <p>
        <a href="{{ pathFor 'members' }}" class="btn btn-default btn-lg">{{_ "view_all_members" count_members}}</a>
      </p>
    </div>
  </div>

  {{#if sponsors}}
    <div class="homepage-section homepage-section-sponsors">
      <div class="container">
        <h3>{{_ "friends_and_sponsors"}}</h3>
        <div class="row">
          {{#each sponsors}}
            <div class="col-sm-4">
              <a href="{{ url }}" target="_blank"><img src="{{ image }}" class="img-responsive" alt="{{ title }}"></a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}


  {{#if projects}}
    <div class="homepage-section homepage-section-projects">
      <div class="container">
        <h3>{{_ "our_projects"}}</h3>
        <div class="row">
          {{#each projects}}
            <div class="col-sm-4">
              <a href="{{ url }}" target="_blank"><img src="{{ image }}" class="img-responsive" alt="{{ title }}"></a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if subcontractors}}
    <div class="homepage-section homepage-section-subcontractors">
      <div class="container">
        <h3>{{_ "available_subcontractors"}}</h3>
        <div class="row">
          {{#each subcontractors}}
            <div class="col-sm-4">
              <a href="{{ url }}" target="_blank"><img src="{{ image }}" class="img-responsive" alt="{{ title }}"></a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

</template>
