<template name="home">

  <div class="jumbotron jumbotron-home">
    <div class="container">
      <img src="/meteor-large.png" width=425 height=100 class="home-logo img-responsive" alt="{{groupName}}" />
      <h1>{{groupName}}</h1>
      <p>
        {{{groupInfo}}}
      </p>
      {{#unless currentUser}}
        <p>
          <a href="{{ pathFor 'members'}}" class="btn btn-primary btn-lg" data-login-with="meetup"><img src="/meetup.png" width=26 height=26> Join Us!</a>
        </p>
      {{/unless}}
    </div>
  </div>

  {{> _featuredMeetup}}

  {{#if upcomingMeetup.count}}
    {{#each upcomingMeetup}}
      <div class="homepage-section homepage-section-meetups">
        <div class="container">
          <h3>Next Meetup</h3>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  {{ calendarDay dateTime}}
                </div>
                <div class="panel-body">
                  <h1>{{ calendarDate dateTime}}</h1>
                </div>
                <div class="panel-footer">
                  {{ calendarMonth dateTime}}
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <h2><a href="{{ pathFor 'meetupDetail' }}">{{ title }}</a></h2>

              <h5 class="text-muted">
                <i class="ion-calendar"></i> {{ longDate dateTime}}
              </h5>
              <p>
                {{ truncate description 140 }}
              </p>
              <p>
                <a href="{{ pathFor 'meetupDetail' }}" class="btn btn-primary btn-lg">View Details</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  <div class="homepage-section homepage-section-members">
    <div class="container">
      <h3>Who We Are</h3>
      <hr>
      <p>
		  {{> _topMembers}}
      </p>
      <hr>
      <p>
        <a href="{{ pathFor 'members' }}" class="btn btn-default btn-lg">View All Members</a>
      </p>
    </div>
  </div>

  {{#if sponsors}}
    <div class="homepage-section homepage-section-sponsors">
      <div class="container">
        <h3>Our Friends and Sponsors</h3>
        <div class="row">
          {{#each sponsors}}
            <div class="col-sm-4">
              <a href="{{ url }}" target="_blank"><img src="{{ image }}" class="img-responsive" alt="{{ title }}"></a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

</template>
