@import '../../stylesheets/mixins.import.less';
@import '../../stylesheets/variables.import.less';

.homepage-section {
  text-align: center;
  padding: 48px 0;
}

.homepage-section-meetups {
  padding-top: 0;
  text-align: left;

  h3 {
    text-align: center;
    font-size: 32px;
  }
}

.homepage-section-members {
  background: @gray-lighter;

  .top-members a {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
}
