<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/favicon.png?v=1">
    <!--[if IE]>
      <link rel="icon" href="/img/favicon.ico?v=1">
    <![endif]-->

    <title>Page Not Found | PD Tracker</title>

    <style media="screen">
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        background: #efefef;
        text-align: center;
      }

      #container {
        background: #fff;
        margin: 100px auto;
        width: 300px;
        padding: 24px;
        border-radius: 24px;
      }

      h1 {
        margin-bottom: 12px;
      }

      a, a:link, a:visited, a:hover, a:active {
        color: #428bca;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>

    <div id="container">
      <h1>
        Oops, this page can't be found.
      </h1>
      <p>
        <a href="javascript:history.go(-1);">&lt; Go Back</a>
      </p>
    </div>

  </body>
</html>
