<template name="meetupDetail">

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              {{ calendarDay dateTime}}
            </div>
            <div class="panel-body">
              <h1>{{ calendarDate dateTime}}</h1>
            </div>
            <div class="panel-footer">
              {{ calendarMonth dateTime}}
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <h2>{{ meetup.title }}</h2>

          <h5 class="text-muted">
            <i class="ion-calendar"></i> {{ longDate dateTime}}
          </h5>
          <div class="meetup-description-html">
            {{{ meetup.description }}}
          </div>
          {{#unless meetup.isPast}}
            <p>
              {{#if currentUserIsAttendee}}
                <button type="button" class="btn btn-primary btn-lg" disabled><i class="ion-checkmark"></i> Going</button>
              {{else}}
                <button type="button" class="btn btn-primary btn-lg" data-action="rsvp"><i class="ion-plus"></i> RSVP</button>
              {{/if}}
              {{#each meetup.truncatedAttendees}}
                <a href="{{ pathFor 'memberDetail' }}" title="{{ profile.name }}" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="{{profile.thumbnailUrl}}"></a>
              {{/each}}
              {{#if displayOverflowAttendees}}
                <small>and {{ meetup.numberOfOverflowAttendees }} more are going</small>
              {{/if}}
            </p>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{{ pathFor 'meetups' }}">All Meetups</a></li>
      <li class="active">{{ meetup.title }}</li>
    </ol>
  </div>

  <div class="container">
    <h3>Topics</h3>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded img-thumbnail" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Meteor on Mobile</h4>
        <h5 class="text-muted">By <a href="{{ pathFor 'memberDetail' }}">Firstname Lastname</a></h5>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-rounded img-thumbnail" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Meteor on Mobile</h4>
        <h5 class="text-muted">By <a href="{{ pathFor 'memberDetail' }}">Firstname Lastname</a></h5>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    <br>

    <p class="text-center">
      <a href="{{ pathFor 'topics' }}" class="btn btn-default btn-lg"><i class="ion-ios7-chatbubble"></i> Suggest a Topic</a>
    </p>

    <br>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGdAs2xESY5hbra99lodGRyypT0yWV7Kk&q={{ urlEncode meetup.location.address}}"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h4>{{ meetup.location.name }}</h4>
          <h5 class="text-muted">
            <a href="https://www.google.com/maps/place/{{ urlEncode meetup.location.address}}" target="_blank"><i class="ion-ios7-location"></i> {{ meetup.location.address }}</a>
          </h5>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center meetup-attendees">
    <h3>{{ attendeesHeading }}</h3>
    <hr>
    <p>
      {{#each meetup.attendees}}
        <a href="{{ pathFor 'memberDetail' }}" data-toggle="tooltip" title="{{ profile.name }}"><img class="img-circle" src="{{profile.thumbnailUrl}}" width=100 height=100></a>
      {{/each}}
    </p>
    <hr>
    <p>
      {{#unless meetup.isPast}}
        {{#if currentUserIsAttendee}}
          <button type="button" class="btn btn-primary btn-lg" disabled><i class="ion-checkmark"></i> Going</button>
        {{else}}
          <button type="button" class="btn btn-primary btn-lg" data-action="rsvp"><i class="ion-plus"></i> RSVP</button>
        {{/if}}
      {{/unless}}
    </p>
  </div>

</template>
