<template name="meetups">

  {{#if upcomingMeetup.count}}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          {{#each upcomingMeetup}}
            <div class="col-md-3">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  {{ calendarDay dateTime}}
                </div>
                <div class="panel-body">
                  <h1>{{ calendarDate dateTime}}</h1>
                </div>
                <div class="panel-footer">
                  {{ calendarMonth dateTime}}
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <h5 class="text-uppercase">Next Meetup:</h5>
              <h2><a href="{{ pathFor 'meetupDetail' }}">{{ title }}</a></h2>

              <h5 class="text-muted">
                <i class="ion-calendar"></i> {{ longDate dateTime}}
              </h5>
              <p>
                {{ summarize description }}
              </p>
              <p>
                <a href="{{ pathFor 'meetupDetail' }}" class="btn btn-primary btn-lg">View Details</a>
                <a href="{{ pathFor 'memberDetail' }}" title="Firstname Lastname" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"></a>
                <a href="{{ pathFor 'memberDetail' }}" title="Firstname Lastname" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg"></a>
                <a href="{{ pathFor 'memberDetail' }}" title="Firstname Lastname" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg"></a>
                <a href="{{ pathFor 'memberDetail' }}" title="Firstname Lastname" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg"></a>
                <a href="{{ pathFor 'memberDetail' }}" title="Firstname Lastname" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"></a>
                <small>and 5 more are going</small>
              </p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  <div class="container">
    <div class="page-header">
      <h3>Previous Meetups</h3>
    </div>

    <div class="row">

      {{#each previousMeetups}}
        <div class="col-md-6 meetup-grid-item">
          <div class="media">
            <div class="panel panel-default pull-left text-center">
              <div class="panel-heading">
                {{ calendarDay dateTime}}
              </div>
              <div class="panel-body">
                <h1>{{ calendarDate dateTime}}</h1>
              </div>
              <div class="panel-footer">
                {{ calendarMonth dateTime}}
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="{{ pathFor 'meetupDetail' }}">{{ title }}</a></h4>
              <h5 class="text-muted">
                <i class="ion-calendar"></i> {{ longDate dateTime}}
              </h5>
              <p>
                {{ summarize description }}
              </p>
              <p>
                <a href="{{ pathFor 'meetupDetail' }}" class="btn btn-primary">View Details</a>
              </p>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>

</template>
