<template name="_member">

  <div class="media">
    {{> _profilePhoto profile=profile size="100" class="pull-left"}}

    <div class="media-body">
      <h4 class="media-heading"><a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></h4>
      <span class="label label-primary">+{{profile.points}} {{_ "points"}}</span>
      <p>{{ truncate profile.bio 140 }}</p>

      <ul class="list-inline">
        <li><a href="{{ profile.meetupProfileUrl }}" class="btn btn-default btn-social-link" target="_blank"><i class="ion-person"></i></a></li>
        {{#each social}}
          <li><a href="{{url}}" class="btn btn-default btn-social-link" target="_blank"><i class="ion-{{icon}}"></i></a></li>
        {{/each}}
      </ul>
    </div>
  </div>

</template>
