<template name="_member">

  <div class="media">
    <a class="pull-left" href="{{ pathFor 'memberDetail' }}">
      <img class="media-object img-circle" src="{{profile.thumbnailUrl}}" width="100" height="100">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></h4>
      <span class="label label-primary">+{{profile.points}} Points</span>
      <p>{{ truncate profile.bio 140 }}</p>

      <ul class="list-inline">
        {{#each profile.socialLinks}}
          <li><a href="{{url}}" class="btn btn-default btn-social-link" target="_blank"><i class="ion-social-{{service}}"></i></a></li>
        {{/each}}
      </ul>
    </div>
  </div>

</template>
