<template name="memberDetail">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="page-header">
          <h1>Member</h1>
        </div>

        <ol class="breadcrumb">
          <li><a href="{{ pathFor 'members' }}">All Members</a></li>
          <li class="active">{{member.profile.name}}</li>
        </ol>

        <div class="media">
          <div class="pull-left">
            <img class="media-object img-rounded img-thumbnail" src="{{member.profile.thumbnailUrl}}" height="100" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{member.profile.name}}</h4>
            <span class="label label-primary">+75</span>
            <p>
              {{member.profile.bio}}
            </p>
            <ul class="list-inline">
              <li><a href="#" class="btn btn-default"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#" class="btn btn-default"><i class="ion-social-github"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="page-header">
          <h4><i class="ion-social-rss"></i> Activity</h4>
          <div class="list-group">
            <a href="{{ pathFor 'meetupDetail' }}" class="list-group-item"><i class="ion-checkmark"></i> RSVP'd to a meetup: <strong>Meteor Vegas #5</strong> <span class="label label-primary">+5</span></a>
            <a href="{{ pathFor 'topicDetail' }}" class="list-group-item"><i class="ion-plus"></i> Suggested a topic: <strong>Deploying Meteor Apps to Heroku <span class="label label-primary">+10</span></strong></a>
            <a href="{{ pathFor 'presentationDetail' }}" class="list-group-item"><i class="ion-heart"></i> Liked a presentation: <strong>Meteor on Mobile</strong> <span class="label label-primary">+5</span></a>
            <a href="{{ pathFor 'topicDetail' }}" class="list-group-item"><i class="ion-ios7-chatbubble"></i> Commented on a topic: <strong>Upgrading packages to 0.9</strong> <span class="label label-primary">+5</span></a>
            <a href="{{ pathFor 'presentationDetail' }}" class="list-group-item"><i class="ion-mic-a"></i> Presented a topic: <strong>Building Meteor UI Components</strong> <span class="label label-primary">+50</span></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
