<template name="members">

  <div class="container">

    <div class="page-header">
      <h1>Members</h1>
	  	<button class="createMembers">Add Members</button>
    </div>
<!--
{{#each members}}
	<div class="row">
	
      <div class="col-md-6">
        <div class="media">
          <a class="pull-left" href="{{ pathFor 'memberDetail' }}">
            <img class="media-object img-rounded img-thumbnail" src="{{profile.thumb_link}}" height="100" width="100">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></h4>
            <span class="label label-primary">+75</span>
            <p>{{profile.bio}}</p>
            <ul class="list-inline">
              <li><a href="#" class="btn btn-default"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#" class="btn btn-default"><i class="ion-social-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
	   
   </div>
{{/each}}
-->
	<div class="row">
        <div class="col-md-6">
            {{#each post}}
                {{#if even}}
			        <div class="media">
			          <a class="pull-left" href="{{ pathFor 'memberDetail' }}">
			            <img class="media-object img-rounded img-thumbnail" src="{{profile.thumb_link}}" height="100" width="100">
			          </a>
			          <div class="media-body">
			            <h4 class="media-heading"><a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></h4>
			            <span class="label label-primary">+75</span>
			            <p>{{profile.bio}}</p>
			            <ul class="list-inline">
			              <li><a href="#" class="btn btn-default"><i class="ion-social-twitter"></i></a></li>
			              <li><a href="#" class="btn btn-default"><i class="ion-social-github"></i></a></li>
			            </ul>
			          </div>
			        </div>
                {{/if}}
            {{/each}}
		</div>
		<div class="col-md-6">
           {{#each post}}
               {{#if odd}}
		           <div class="media">
		             <a class="pull-left" href="{{ pathFor 'memberDetail' }}">
		               <img class="media-object img-rounded img-thumbnail" src="{{profile.thumb_link}}" height="100" width="100">
		             </a>
		             <div class="media-body">
		               <h4 class="media-heading"><a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></h4>
		               <span class="label label-primary">+75</span>
		               <p>{{profile.bio}}</p>
		               <ul class="list-inline">
		                 <li><a href="#" class="btn btn-default"><i class="ion-social-twitter"></i></a></li>
		                 <li><a href="#" class="btn btn-default"><i class="ion-social-github"></i></a></li>
		               </ul>
		             </div>
		           </div>
               {{/if}}
           {{/each}}
        </div>
    </div>
  </div>

</template>
