<template name="memberDetail">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="page-header">
          <h1>Member</h1>
        </div>

        <ol class="breadcrumb">
          <li><a href="{{ pathFor 'members' }}">All Members</a></li>
          <li class="active">{{member.profile.name}}</li>
        </ol>

        {{#with member}}
          {{> _member}}
          <hr>
          {{#each profile.answers }}
              <h5>{{question}}</h5>
              {{answer}}
          {{/each}}
        {{/with}}
        <hr>

        <h4><i class="ion-social-rss"></i> Activity</h4>
        {{#if member.activities.count}}
        <div class="list-group">
          {{#each member.activities}}
            <a href="{{ subjectURL }}" class="list-group-item"><i class="{{ icon }}"></i> {{ actionDescription }} <strong>{{ subjectTitle }}</strong> <span class="label label-primary">+{{pointsAwarded}}</span></a>
          {{/each}}
        </div>
        {{else}}
          <div class="alert alert-info">
            <p>
              There are no activities by {{member.profile.name}} yet.
            </p>
          </div>
       {{/if}}

      </div>
    </div>
  </div>

</template>
