<template name="memberDetail">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="page-header">
          <h1>Member</h1>
        </div>

        <ol class="breadcrumb">
          <li><a href="{{ pathFor 'members' }}">All Members</a></li>
          <li class="active">{{member.profile.name}}</li>
        </ol>

        {{#with member}}
          {{> _member}}
        {{/with}}

        <h4><i class="ion-social-rss"></i> Activity</h4>
        <div class="list-group">
          {{#each member.activities}}
            <a href="{{ subjectURL }}" class="list-group-item"><i class="{{ icon }}"></i> {{ actionDescription }} <strong>{{ subjectTitle }}</strong> <span class="label label-primary">+{{pointsAwarded}}</span></a>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</template>
