<template name="_comment">
  <li class="media">
    {{#with author}}
      <a class="pull-left" href="{{ pathFor 'memberDetail' }}">
        <img class="media-object img-circle" width=40 height=40 src="{{profile.thumbnailUrl}}">
      </a>
    {{/with}}
    <div class="media-body">
      <p>{{ body }}</p>
      {{#with author}}
        <p class="text-muted">
          <small>Posted by <a href="{{ pathFor 'memberDetail' }}">{{profile.name}}</a></small>
        </p>
      {{/with}}
    </div>
  </li>
</template>
