<template name="footer">
  <footer class="text-center">
    <div class="container">
      <ul class="list-inline pull-left">
        <li><a href="https://meteor.com" target="_blank"><i class="ion-ios7-circle-filled"></i> Built with Meteor.js</a></li>
      </ul>
      <ul class="list-inline pull-right">
        <li><a href="https://twitter.com/meteor-vegas" title="Meteor Vegas on Twitter" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://github.com/meteor-vegas" title="Meteor Vegas on Github" target="_blank"><i class="ion-social-github"></i></a></li>
      </ul>
    </div>
  </footer>
</template>
