<template name="footer">
  <footer class="text-center">
    <div class="container">
      <ul class="list-inline pull-left">
        <li><a href="https://meteor.com" target="_blank" class="footer-meteor-link"><img src="/meteor-white.png" width=30 height=30> Built with Meteor.js</a></li>
      </ul>
      <ul class="list-inline pull-right">
        <li><a href="http://www.meetup.com/Meteor-Las-Vegas/" class="footer-social-link" title="Meteor Vegas on Meetup" target="_blank"><img src="/meetup.png" width=26 height=26></a></li>
        <li><a href="https://twitter.com/MeteorVegas" class="footer-social-link" title="Meteor Vegas on Twitter" target="_blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://github.com/meteor-vegas" class="footer-social-link" title="Meteor Vegas on Github" target="_blank"><i class="ion-social-github"></i></a></li>
      </ul>
    </div>
  </footer>
</template>
