<template name="header">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'home' }}"><img src="/meteor-icon.svg" width=30 height=30> {{_ "group_name"}}</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}">{{_ "header_home"}}</a></li>
          <li class="{{ isActivePath regex='meetups' }}"><a href="{{ pathFor 'meetups' }}">{{_ "header_meetups"}}</a></li>
          <li class="{{ isActivePath regex='presentations' }}"><a href="{{ pathFor 'presentations' }}">{{_ "header_presentations"}}</a></li>
          <li class="{{ isActivePath regex='topics' }}"><a href="{{ pathFor 'topics' }}">{{_ "header_topics"}}</a></li>
          <li class="{{ isActivePath regex='members' }}"><a href="{{ pathFor 'members' }}">{{_ "header_members"}}</a></li>
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-rounded" src="{{currentUser.profile.thumbnailUrl}}" height="20" width="20">
                {{currentUser.profile.name}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {{#with currentUser}}
                  <li><a href="{{ pathFor 'memberDetail' }}"><i class="ion-person"></i> {{_ "header_my_profile"}}</a></li>
                {{/with}}
                <li><a href="#" data-action="logout"><i class="ion-locked"></i> {{_ "header_logout"}}</a></li>
              </ul>
            </li>
          {{else}}
            <li>
              <button type="button" class="btn btn-primary navbar-btn" data-login-with="meetup">
                <img src="/meetup.png" width=22 height=22> {{_ "header_sign_in"}}
              </button>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
