<template name="presentations">

  <div class="container">

    <div class="page-header">
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-presentation-modal">
        <i class="ion-plus"></i> {{_ "add_presentation"}}
      </button>
      <h1>{{_ "presentations"}}</h1>
    </div>

    <div class="row">

      {{#if presentations.count}}
        {{#each presentations}}
          <div class="col-sm-6 col-md-4">
            {{> _presentation}}
          </div>
        {{/each}}
      {{else}}
        <div class="well">
          {{_ "no_presentations"}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-presentation-modal">{{_ "add_one"}}</button>
        </div>
      {{/if}}

    </div>

  </div>

  <div class="modal fade" id="add-presentation-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#if currentUser}}
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">{{_ "add_presentation"}}</h4>
            </div>
            <div class="modal-body">
              <div id="presentation-wrapper" class="embed-responsive embed-responsive-16by9">
              <a id="presentation-embed" href="{{presentationURL}}"></a>
              </div>
              <div id="url-wrapper">
                <div class="form-group">
                  <input type="text" class="form-control" id="url" placeholder={{_ "presentation_url"}}>
                  <small>{{_ "supports"}} Slides.com, Slideshare, Prezi, Youtube, Vimeo</small>
                </div>
              </div>
              <div id="error-wrapper" class="alert alert-warning">
                {{_ "sorry"}} - {{presentationURL}} {{_ "could_not_loaded"}}.
              </div>
              <div id="title-wrapper">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="customTitle" placeholder={{_ "presentation_title"}}>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">{{_ "close"}}</button>
              <button type="submit" class="btn btn-primary" id="btn-add-presentation">{{_ "next"}}</button>
            </div>
          </form>
        {{else}}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{_ "add_presentation"}}</h4>
          </div>
          <div class="modal-body text-center">
            <p>{{_ "presentation_required_signin"}}</p>
            <p>
              <button type="button" class="btn btn-primary" data-login-with="meetup">
                <img src="/meetup.png" width=22 height=22> {{_ "sign_in"}}
              </button>
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</template>
