<template name="presentations">

  <div class="container">

    <div class="page-header">
      <h1>Presentations</h1>
    </div>

    <div class="row">

      {{#each presentations}}

        <div class="col-sm-6 col-md-4">
          {{> _presentationCard}}
        </div>

      {{/each}}

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ pathFor 'presentationDetail' }}"><img src="http://placehold.it/350x150"></a>
          <div class="caption">
            <h3><a href="{{ pathFor 'presentationDetail' }}">Meteor on Mobile</a></h3>
            <h5 class="text-muted">
              <img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"> By Firstname Lastname
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="{{ pathFor 'presentationDetail' }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ pathFor 'presentationDetail' }}"><img src="http://placehold.it/350x150"></a>
          <div class="caption">
            <h3><a href="{{ pathFor 'presentationDetail' }}">Meteor on Mobile</a></h3>
            <h5 class="text-muted">
              <img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"> By Firstname Lastname
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="{{ pathFor 'presentationDetail' }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ pathFor 'presentationDetail' }}"><img src="http://placehold.it/350x150"></a>
          <div class="caption">
            <h3><a href="{{ pathFor 'presentationDetail' }}">Meteor on Mobile</a></h3>
            <h5 class="text-muted">
              <img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"> By Firstname Lastname
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="{{ pathFor 'presentationDetail' }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ pathFor 'presentationDetail' }}"><img src="http://placehold.it/350x150"></a>
          <div class="caption">
            <h3><a href="{{ pathFor 'presentationDetail' }}">Meteor on Mobile</a></h3>
            <h5 class="text-muted">
              <img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"> By Firstname Lastname
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="{{ pathFor 'presentationDetail' }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ pathFor 'presentationDetail' }}"><img src="http://placehold.it/350x150"></a>
          <div class="caption">
            <h3><a href="{{ pathFor 'presentationDetail' }}">Meteor on Mobile</a></h3>
            <h5 class="text-muted">
              <img class="img-circle" width=30 height=30 src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"> By Firstname Lastname
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="{{ pathFor 'presentationDetail' }}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>

    </div>

  </div>

</template>
